@font-face {
    font-family: "Press Start 2P";
    src: url("../fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "Hack";
    src: url("../fonts/Hack-Regular.ttf");
}

/* @font-face {
    font-family: "Zpix";
    src: url("../fonts/Zpix.ttf");
} */

body {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    /* font-family: "Press Start 2P", Zpix; */
    font-family: "Press Start 2P";
    /* font-family: "Hack"; */
}

.terminal.fullscreen {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:auto;
    height:auto;
    z-index:253;
}


#toolbar {
    position:fixed;
    top: 0px;
    bottom:0;
    left:0;
    right:0;
    width:auto;
    height:220px;
    z-index:254;
    background-color: black;
}

#toolbar label {
    top: 10px;
    left: 10px;
}

#progress {
    margin-top: 10px;
    margin-left: 20px;
    /* background-color: white; */
}

.top-spaced {
    padding-top: 40px;
}

.float {
    position: fixed;
    right: 10px;
    top:20px;
    z-index: 255;
}