@font-face {
    font-family: "Press Start 2P";
    /*src: url("../fonts/PressStart2P-Regular.ttf");*/
    src: url("../fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "Hack";
    /*src: url("../fonts/PressStart2P-Regular.ttf");*/
    src: url("../fonts/Hack-Regular.ttf");
}

/* .row {
    margin-top: 15px;
    margin-bottom: 10px;
}

.container {
    margin-top: 20px;
}

.btn {
    margin-top: 15px;
}

.btn-danger {
    margin-left: 5px;
} */

body {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Press Start 2P";
    /* font-family: "Hack"; */
}

.xterm.fullscreen {
    position:fixed;
    top:240px;
    bottom:0;
    left:0;
    right:0;
    width:auto;
    height:auto;
    z-index:255;
}


#toolbar {
    position:fixed;
    top: 0px;
    bottom:0;
    left:0;
    right:0;
    width:auto;
    height:240px;
    z-index:255;
    background-color: black;
}

#toolbar label {
    top: 10px;
    left: 10px;
}

#progress {
    margin-top: 10px;
    margin-left: 20px;
    /* background-color: white; */
}

#download {
    margin-top: 20px;
}

.top-spaced {
    padding-top: 40px;
}