<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> Term1nal</title>
    <link href="static/img/favicon.png" rel="icon" type="image/png">
    <link href="static/css/nes.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/vuetify.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/xterm.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="row">
      <div class="col">
        <div class="nes-container with-title">
          <p class="title">Terminal To Telecom IDC - VERSION</p>
          <form id="ssh_cred" action="" method="post" enctype="multipart/form-data"{% if debug %} novalidate{% end %}>
            <div class="row">
              <div class="col">
                <label for="Hostname">Hostname</label>
                <input class="nes-input" type="text" id="hostname" name="hostname" value="" required>
              </div>
              <div class="col">
                <label for="Port">Port</label>
                <input class="nes-input" type="number" id="port" name="port" placeholder="22" value="22" min=1 max=65535>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="Username">Username</label>
                <input class="nes-input" type="text" id="username" name="username" value="" required>
              </div>
              <div class="col">
                <label for="Password">Password</label>
                <input class="nes-input" type="password" id="password" name="password" value="">
              </div>
            </div>
            <input type="hidden" id="term" name="term" value="xterm-256color">
            {% module xsrf_form_html() %}
            <button id="submit" type="submit" class="nes-btn is-primary">Connect</button>
            <button type="reset" class="nes-btn is-error">Reset</button>
          </form>
        </div>
        <div id="toolbar">
          <!-- Upload -->
          <div class="row">
            <div class="col-1">
              <label class="nes-btn is-success">
                <span>Upload</span>
                <input id="upload" type="file"></input>
              </label>
            </div>
            <div class="col-5">
              <progress id="progress" class="nes-progress is-success is-dark" value="0" max="100"></progress>
            </div>
            <div class="col-6 top-spaced">
              <span id="info" class="nes-text is-warning"></span>
            </div>
          </div>
          <!-- Download -->
          <div class="row">
            <div class="col-10">
              <input type="text" id="downloadFile" class="nes-input is-dark" placeholder="输入要下载文件的绝对路径">
            </div>
            <div class="col-2">
              <button type="button" id="download" class="nes-btn is-warning">Download</button>
            </div>
          </div>
        </div>
        <div class="float">
          <button id="toggle" type="button" class="nes-btn is-error" style=" padding-top: 0px;">☰</button>
        </div>
        <div id="terminal"></div>
        <div id="status" style="color: red;"></div>
      </div> <!-- Right Column -->
    </div>
    <div class="font_preload" style="opacity: 0">
      <span style="font-family: Hack;"></span>
    </div>


    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/xterm.min.js"></script>
    <script src="static/js/xterm-addon-fit.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
